<!-- GOOGLE CARD --COMPONENT 1 -->
<ion-grid no-padding *ngIf="data != null">
  <ion-row>
    <ion-col size="12" *ngFor="let item of data.items">
      <ion-card padding box-shadow (click)="onItemClickFunc(item, $event)" >
        
        <!--Card images-->
        <ion-item no-padding lines="none" transparent>
          <!-- <ion-thumbnail slot="start">
            <ion-img images-filter [src]="item.image"></ion-img>
          </ion-thumbnail> -->
          <!--Card-content-->
          <ion-label class="ion-text-end">
            <h2 text-size-xs>{{item.title}}</h2>
            <!--Description-->
            <h3 text-size-sm>{{item.description}}</h3>
            <h3 text-size-sm>{{item.shortDescription}}</h3>
            <p text-size-p padding-top text-wrap>{{item.longDescription}}</p>
            <!---Social Share-->
            <!-- <div social-share margin-top> -->
              <!-- Socila Like -->
              <!-- <i icon-small ng-if="group.iconLike" class="icon {{item.iconLike}}"
              (click)="onLikeFunc(item, $event)"></i> -->
              <!-- Socila Favorits -->
              <!-- <i icon-small ng-if="item.iconFavorite" class="icon {{item.iconFavorite}}"
              (click)="onFavoriteFunc(item, $event)"></i> -->
              <!-- Socila Share -->
              <!-- <i icon-small ng-if="item.iconShare" class="icon {{item.iconShare}}"
              (click)="onShareFunc(item, $event)"></i>
            </div> -->
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
