<ion-app>
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title text-capitalize>Carreras</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/career/agregar-carrera">
          <ion-icon name="add"></ion-icon>
          Agregar Carreras
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>

    
    <cs-google-card-list-layout-3
      [data]="career"
      (onFab)="onFab($event)"
      (onShare)="onShare($event)"
      (onLike)="onLike($event)"
      (onFavorite)="onFavorite($event)"
      (onItemClick)="onItemClick($event)"
      (onDelete)="onDelete($event)"
      (onUpdate)="onUpdate($event)">
    </cs-google-card-list-layout-3>

  </ion-content>
</ion-app>

