<ion-app>
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title text-capitalize>Agregar Carrera</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>

    <ion-grid padding>
      <ion-row>
        <ion-col size="12">
          <ion-item no-padding transparent input>
            <ion-label text-size-sm position="floating">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="category.name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-text-end">
          <ion-button button-round margin-top shape="round" fill="outline"
          (click)="onSubmit()">Agregar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</ion-app>
